li{
    list-style: none;
    margin-left:2rem ;

}
.navbar>ul>a>li{
    padding-top: 9px;
    /* color: black; */
}
img[src="images/lap.jpeg"]{    
    height: 100vh;
    width: 95vw;
    margin-left:2.5rem ;
    margin-right:2.5rem;
}
.footer{
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
}
.footer{
    text-align: center;
    
    
}
.navbar{
    display:flex;
    justify-content: space-between;
}
ul{
    display: inline-flex;
    
    
}
.container{
    display:flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
    padding: 15px;
    margin-left: 2.5rem;
}
.container div{
    background-color:#d8dada;
    margin: 15px;
    padding: 40px;
}

/* .navbar ul li{
    margin: 5px;
    padding: 10px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 100;
} */

h1{
    margin-left:2.5rem;
    /* font-weight: ; */
}
a{
    text-decoration: none;
}
 a:visited{
    color: black;
}
a:hover{
    color:red;
}
a:link{
    color: black;
}
