li{
    list-style: none;
}
img[src="images/lap.jpeg"]{    
    height: 800px;
    width: 1400px;
}
.footer{
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
}
.footer p{
    font-size: 25px;
    display: inline-flex;
    
}
.navbar{
    display:flex;
    justify-content: space-between;
}
ul{
    display: inline-flex;
    
    
}
.container{
    display:flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
    padding: 15px;
}
.container div{
    background-color:#d8dada;
    margin: 15px;
    padding: 40px;
}
.navbar ul li{
    margin: 5px;
    padding: 10px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 100;
}